.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    min-width: 0;
    min-height: 0;
  }

  .gridContainer {
    display: inline-grid;
    background-color: #2196F3;
    padding: 10px;
    height: 600px;
    width: 600px;
    position: relative;
  }

  .button{
    padding: 10px;
    align-content: center;
  }

  .content{
    margin: auto;
    text-align: center;
  }
